{% extends "base.html" %}
{% block content %}
<div class="games-detail-page">
    <div class="row">
        <div class="col-12 no-padding">
            <a class="story-img" href="#">
                <img src=" {{ MEDIA_URL }}{{ games.image }}" class="games-detail-image">
            </a>
        </div>
        <div class="col-12 games-detail-info">
            <h3 class="text-center">{{ games.name }}</h3>
            <hr>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ games.description }}</p>
                    <a href="{{ games.link }}" class="btn btn-info"  target="_blank" rel="noopener">Link to game!</a>
                                <hr>
                    <div class="d-flex justify-content-center padding-bottom">
                        <a href="{% url 'games' %}" class="btn btn-star-trek" >Back to games!</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}