{% extends 'base.html' %}

{% block content %}
<div class="games-page">
	<div class="row games-info">
		{% for game in games %}
		<div class="col-12 col-lg-6 no-padding">
			<div class="card games-card no-padding margin-5">
				<img src="{{ MEDIA_URL }}{{ game.image1 }}" class="games-image" alt="{{ game.name }} photo">
				<div class="card-body">
					<h1 class="card-title">{{ game.name }}</h1>
					<p class="card-text">{{ game.description|truncatechars:175 }}</p>
					<div class="d-flex justify-content-center">
						<a href="{% url 'games_detail' game.id %}" class="btn btn-star-trek">Read more...</a>
					</div>

				</div>
			</div>
		</div>
		<hr>
		{% endfor %}
	</div>
</div>
{% endblock %}