{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src=" {{ MEDIA_URL }}{{ games.image }}" class="img-circle">
            </a>
        </div>
        <div class="col-sm-10 col-md-9">
            <h3>{{ games.name }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ games.description }}</p>
                    <a href="{{ games.link }}" class="btn btn-default"  target="_blank" rel="noopener">Link to game!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}