{% extends 'base.html' %}
{% block content %}
<div class="forum-page">
	<div class="d-flex justify-content-center">
		<div class="products-search">
			<form action="{% url 'search_threads' %}" method="GET">
				<input type="text" name="d" class="products-search-input">
				<button type="submit" class="btn btn-star-trek">Search</button>
			</form>
		</div>
	</div>
	{% if posts %}
	<div class="d-flex justify-content-center">
		<button class="btn btn-post-thread" data-toggle="modal" data-target="#new-post">Start a topic! <i class="fas fa-comment-dots"></i></button>
	</div>
	<div class="forum-threads">
		<div class="row forum-thread forum-filters">
			<div class="col-4 col-md-2 text-right">
				<a href="{% url 'get_posts_author' %}">
					<h4>Author</h4>
				</a>
			</div>
			<div class="col-8 col-md-6">
				<a href="{% url 'get_posts_title' %}">
					<h4>Post title</h4>
				</a>
			</div>
			<div class="d-none d-lg-block col-lg-1 text-right">
				<a href="{% url 'get_posts' %}">
					<h4>View</h4>
				</a>
			</div>
			<div class="d-none d-md-block col-md-4 col-lg-3">
				<a href="{% url 'get_posts_date' %}">
					<h4>Date</h4>
				</a>
			</div>
		</div>
		<hr class="forum-hr">
		{% for post in posts %}
		<div class="row {% cycle 'forum-gray' 'forum-white' %} forum-thread">
			<div class="col-2 col-sm-2 col-md-1 no-padding-right">
				<a href="{% url 'profile' post.user_id %}" target="_blank" rel="noopener">
					<img class="forum-post-user-image" src="{{ MEDIA_URL }}{{ post.profile.image }}">
                </a>
			</div>
			<div class="col-2 col-sm-2 col-md-1 text-center">
				<a href="{% url 'profile' post.user_id %}" target="_blank" rel="noopener">{{ post.user }}</a>
			</div>
			<div class="col-8 col-sm-8 col-md-6">
				<a href="{% url 'post_detail' post.id %}">
					<h5><span class="tablet-screen">{{ post.title|truncatechars:38 }}</span><span class="mobile-screen">{{ post.title|truncatechars:20 }}</span>
					</h5>
				</a>
			</div>
			<div class="d-none d-lg-block col-lg-1 text-center">
				{{ post.views }}
			</div>
			<div class="d-none d-md-block col-md-4 col-lg-3">
				{{ post.published_date }}
			</div>
		</div>
		<hr class="forum-hr">
		{% endfor %}
		{% else %}
		<div class="forum-no-search-result">
			<h3 class="forum-no-search-result-text">There is no topic with requested
				search!<br> Why don't you start it?</h3>
				<div class="d-flex justify-content-center">
					<button class="btn btn-post-thread" data-toggle="modal" data-target="#new-post">Start a topic! <i class="fas fa-comment-dots"></i></button>
				</div>
		</div>
		{% endif %}
	</div>
	{% if posts %}
	<div class="d-flex justify-content-center">
		<div class="pagination">
			<span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}" class="btn btn-star-trek no-margin">Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>
			{% if posts.has_next %}
			<a href="?page={{ posts.next_page_number }}" class="btn btn-star-trek no-margin">Next</a>
			{% endif %}
			</span>
		</div>
	</div>
	{% endif %}
</div>
<!-------------------------------------- New post modal --------------------------------------------------------------->
<div class="modal fade" id="new-post" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				<h3 id="exampleModalLongTitle">Share you opinion</h3>
			</div>
			<div class="modal-body">
				<!------------- New post form -------------------------->
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<label for="title" hidden>Post title</label>
					<textarea rows="1" name="title" class="form-control comment-form" id="title" placeholder="Title here!" required></textarea>
					<label for="content" hidden>Post content</label>
					<textarea rows="10" name="content" class="form-control comment-form" id="content" placeholder="Write your opinion here!" required></textarea>
					<div class="d-flex justify-content-center margin-5">
						<button type="submit" class="btn btn-star-trek">Share it! <i class="fas fa-comment-dots"></i></button>
						<a href="{% url 'get_posts' %}" class="btn btn-info">Back to Forum
							<i class="fas fa-hand-spock"></i></a>
					</div>
					<div class="text-center margin-10">
						<p>* Don't worry, you can edit it later!</p>
					</div>
				</form>
				<!--------------------------------------------------------->
			</div>
		</div>
	</div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
{% endblock %}