{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="post-thread-form">
	<div class="thread-form-section">
		<h1 class="text-center">Share with us!</h1>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form | as_bootstrap }}
			<div class="d-flex justify-content-center margin-5">
				<button type="submit" class="btn btn-star-trek">Post it! <i class="fas fa-comment-dots"></i></button>
				<a href="{% url 'get_posts' %}" class="btn btn-info">Back to Forum <i class="fas fa-hand-spock"></i></a>
			</div>
			<div class="text-center margin-5">
				<p>* Don't worry, you can edit it later!</p>
			</div>
		</form>
	</div>
</div>
{% endblock %}