{% extends 'base.html' %}
{% block content %}
<div class="forum-page">
<div class="d-flex justify-content-center">
    <div class="products-search">
        <form action="{% url 'search_threads' %}" method="GET">
            <input type="text" name="q" class="products-search-input">
            <button type="submit" class="btn btn-star-trek">Search</button>
        </form>
        </div>
    </div>
<div class="d-flex justify-content-center">
            <a href="{% url 'new_post' %}" class="btn btn-star-trek">Share your opinion!</a>
        </div>

<div class="container forum-threads">
<hr class="forum-hr">
    <div class="row forum-thread">
            <div class="col-2 text-right">
                <h4>Author</h4>         
            </div>
            <div class="col-6">
                <h4>Post title</h4>
            </div>
            <div class="col-1">
                <h4>Views</h4>
            </div>
            <div class="col-3">
               <h4>Date</h4>
            </div>
        </div>
        <hr class="forum-hr">
    {% for post in posts %}
        <div class="row forum-thread">
            <div class="col-1">
                <img class="forum-post-user-image" src="/media/{{ post.profile.image }}">
            </div>
            <div class="col-1 text-center">            
                <a href="{% url 'profile' post.user_id %}" target="_blank" rel="noopener">{{ post.user }}</a>                 
            </div>
            <div class="col-6">
                <h5><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h5>
            </div>
            <div class="col-1 text-center">
                {{ post.views }}
            </div>
            <div class="col-3">
               {{ post.published_date }}
            </div>
        </div>
        <hr class="forum-hr">
    {% endfor %}
</div>
{% endblock %}