{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="comment-form-page">
<div class="comment-form-section">
        <h1 class="text-center">Write your comment!</h1>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="d-flex justify-content-center margin-5">
        <button type="submit" class="btn btn-star-trek">Comment! <i class="fas fa-reply"></i></button>
        <a href="{% url 'get_posts' %}" class="btn btn-light">Cancel <i class="fas fa-ban"></i></a>
        </div>
    </form>
    </div>
</div>
{% endblock %}