{% extends "base.html" %}
{% block content %}
<div class="forum-thread-page">
    <div class="thread-container">
    <div class="row">
    <!--------------------- Post details ---------------------------------------------------->
        <div class="col-12 text-center">
        <a href="{% url 'profile' post.user_id %}" target="_blank" rel="noopener">
        <img src="{{ MEDIA_URL }}{{ post.profile.image }}" class="forum-thread-user-image" alt="{{ post.user }} image">
            <p class="no-margin"> {{ post.user }}</p></a>
            <p class="no-margin"> {{ post.published_date }} </p>
        </div>
        <div class="col-12">
            <h2 class="text-center">{{ post.title }}</h2>
            <p class="thread-content">{{ post.content }}</p>
            {% if post.user == user %}
            <div class="d-flex justify-content-center">
                <a href="{% url 'edit_post' post.id %}" class="btn btn-star-trek">Edit Post <i class="fas fa-edit"></i></a>
            </div>
            {% endif %}
        </div>
    </div>
    <hr class="thread-hr">
    <!----------------------- Users comment on a post ------------------------------------------------>
    {% for comment in post.comments.all %}
    <div class="row">
        <div class="col-4 col-md-3 text-center">
        <a href="{% url 'profile' comment.user_id %}" target="_blank" rel="noopener">
        <img src="{{ MEDIA_URL }}{{ comment.profile.image }}" class="forum-thread-user-image" alt="{{ comment.user}} image">
        <p class="no-margin">{{ comment.user}} </p>
        </a>
        <p class="no-margin"> {{ comment.created_date }} </p>  
            
        </div>
        <div class="col-8 col-md-9 thread-comment no-padding-left">
            {{ comment.content }}
        </div>
        </div>
        <hr class="thread-hr">
        {% endfor %}
        <!----------------- Comment form beneath post for easier commenting --------------------->
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea rows="5" name="content" class="form-control comment-form" id="reply" placeholder="Write your comment!" required></textarea>
        <div class="d-flex justify-content-center margin-10">
        <button type="submit" class="btn btn-star-trek">Comment! <i class="fas fa-reply"></i></button>
        <a href="{% url 'get_posts' %}" class="btn btn-info">Back to Forum <i class="fas fa-hand-spock"></i></a>
        </div>
        </form>
        <!--------------------------------------------------------------------------------------->        
        </div>
    </div>
{% endblock %}