{% extends "base.html" %}
{% block content %}
<div class="forum-thread-page">
    <div class="thread-container">
    <div class="row">
        <div class="col-12 text-center">
        <a href="{% url 'profile' post.user_id %}" target="_blank" rel="noopener">
        <img src="{{ MEDIA_URL }}{{ post.profile.image }}" class="forum-thread-user-image">
            <p class="no-margin"> {{ post.user }}</p></a>
            <p class="no-margin"> {{ post.published_date }} </p>
        </div>
        <div class="col-12">
            <h2 class="text-center">{{ post.title }}</h2>
            <p class="thread-content">{{ post.content }}</p>
            {% if post.user == user %}
            <div class="d-flex justify-content-center">
                <a href="{% url 'edit_post' post.id %}" class="btn btn-star-trek">Edit Post</a>
            </div>
            {% endif %}
        </div>
    </div>
    <hr class="thread-hr">
    {% for comment in post.comments.all %}
    <div class="row">
        <div class="col-4 col-md-3 text-center">
        <a href="{% url 'profile' comment.user_id %}" target="_blank" rel="noopener">
        <img src="{{ MEDIA_URL }}{{ comment.profile.image }}" class="forum-thread-user-image">
        <p class="no-margin">{{ comment.user}} </p>
        </a>
        <p class="no-margin"> {{ comment.created_date }} </p>  
            
        </div>
        <div class="col-8 col-md-9 thread-comment no-padding-left">
            {{ comment.content }}
        </div>
        </div>
        <hr class="thread-hr">
        {% endfor %}
        <div class="d-flex justify-content-center">
            <a href="{% url 'add_comment' post.id %}" class="btn btn-star-trek">Leave your comment!</a>
        </div>
        
        </div>
    <div class="d-flex justify-content-center">
        
        <a href="{% url 'get_posts' %}" class="btn btn-light btn-back-to-forum">Back to Forum</a>
    </div>
    </div>
{% endblock %}