{% extends "base.html" %}
{% block content %}
    <div class="row">
        {{product.name}}
    </div>
    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="number" name="quantity" min="1" max="999" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
{% endblock %}