{% extends 'base.html' %}

{% block content %}
<div class="products-page">
<div class="row d-flex justify-content-center">
    <div class="products-search">
        <form action="{% url 'search_products' %}" method="GET">
            <input type="text" name="q" class="products-search-input">
            <button type="submit" class="btn btn-star-trek">Search</button>
        </form>
        </div>
    </div>
    <hr>
<div class="row products-page-list">
    {% if products.count == 0 %}
    <div class="no-search-products">
    <h3 class="no-search-products-text">Sorry, but there was no products for requested search!</h3>
    </div>
    {% else %}
    {% for product in products %}
    <div class="col-3 products-card-padding">
        <div class="card products-card">
        <a href="{% url 'product_detail' product.id %}">
            <img class="card-img-top products-card-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="Card image cap">
            </a>
            <div class="card-body products-card-body">
                <h3 class="card-title text-center">{{ product.name }}</h3>
                <p class="card-text no-margin">{{ product.description|truncatechars:60 }}</p>
                <hr>
                <div class="row">
                    <div class="col-5">
                        <p class="products-card-price">{{ product.price }} €</p>
                    </div>
                    <div class="col-7">
                        <form method="POST" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="number" name="quantity" min="1" max="999" class="form-control" value="1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-star-trek" type="submit">Add</button>
                                    </span>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<hr>
{% if products.count != 0 %}
<div class="d-flex justify-content-center">
<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}
        </span>
        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endif %}
</div>

{% endblock %}