{% extends 'base.html' %}
{% block content %}
<div class="products-page" id="top">
<hr>
	<div class="d-flex justify-content-center">
		<div class="products-filters row">
            <div class="col-6 offset-sm-1 col-sm-2 d-flex justify-content-center no-padding">
                <a href="{% url 'products_clothing' %}" class="btn btn-products-filter">Clothing</a>
            </div>
            <div class="col-6 col-sm-2 d-flex justify-content-center no-padding">
                <a href="{% url 'products_accesories' %}" class="btn btn-products-filter">Accesories</a>
            </div>
            <div class="col-6 col-sm-2 d-flex justify-content-center no-padding">
                <a href="{% url 'products_drinkware' %}" class="btn btn-products-filter">Drinkware</a>
            </div>
            <div class="col-6 col-sm-2 d-flex justify-content-center no-padding">
                <a href="{% url 'products_home_and_office' %}" class="btn btn-products-filter">Home</a>
            </div>
            <div class="col-12 col-sm-2 d-flex justify-content-center no-padding">
                <a href="{% url 'products_collectibles' %}" class="btn btn-products-filter">Collectibles</a>
            </div>			
		</div>
	</div>
	<hr>
	<div class="row products-page-list">
		{% if products.count == 0 %}
		<div class="no-search-products">
			<h3 class="no-search-products-text">Sorry, but there was no products for requested search!</h3>
		</div>
		{% else %}
		{% for product in products %}
		<div class="col-12 col-sm-6 col-md-4 col-lg-3 products-card-padding">
			<div class="card products-card">
				<a href="{% url 'product_detail' product.id %}">
					<img class="card-img-top products-card-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="Card image cap">
                </a>
					<div class="card-body products-card-body">
						<a href="{% url 'product_detail' product.id %}">
                            <h4 class="card-title text-center products-name">{{ product.name|truncatechars:15 }}</h4>
                        </a>
						<p class="card-text no-margin">{{ product.description|truncatechars:50 }}</p>
						<hr>
						<div class="row">
							<div class="col-6 no-padding-right">
								<p class="products-card-price">{{ product.price }} €</p>
							</div>
							<div class="col-6 no-padding-left text-right">
								<a href="{% url 'product_detail' product.id %}" class="btn btn-star-trek">View!</a>
							</div>
						</div>
					</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
    <hr>
	<div class="d-flex justify-content-end product-back-to-top">
		<a href="#top" class="btn btn-info btn-back-to-forum">Back to top!</a>
	</div>
	{% if products.count != 0 %}
	<div class="d-flex justify-content-center">
		<div class="pagination">
			<span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}" class="btn btn-star-trek no-margin">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}
        </span>
			{% if products.has_next %}
			<a href="?page={{ products.next_page_number }}" class="btn btn-star-trek no-margin">Next</a>
			{% endif %}
			</span>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}