{% extends 'base.html' %}

{% block content %}
<div class="products-page">
<div class="row d-flex justify-content-center">
    <div class="products-search">
        <form action="{% url 'search_products' %}" method="GET">
            <input type="text" name="q" class="products-search-input">
            <button type="submit" class="btn btn-star-trek">Search</button>
        </form>
        </div>
    </div>
<div class="row row-flex">
    {% for product in products %}
    <div class="col-3">
        <div class="card products-card" style="width: 18rem;">
        <a href="{% url 'product_detail' product.id %}">
            <img class="card-img-top products-card-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="Card image cap">
            </a>
            <div class="card-body products-card-body">
                <h3 class="card-title">{{ product.name }}</h3>
                <p class="card-text no-margin">{{ product.description }}</p>
                <div class="row">
                    <div class="col-5">
                        <p class="products-card-price">{{ product.price }} €</p>
                    </div>
                    <div class="col-7">
                        <form method="POST" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="number" name="quantity" min="1" max="999" class="form-control" value="1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-star-trek" type="submit">Add</button>
                                    </span>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}