/* ---------- Django messages ---------- */
.alert{
    margin: 0px;
}
/* --------- Navigation bar --------------- */

.navbar {
    margin-bottom: 0px;
    background-image: none;
    border-bottom: none;  
    padding: 0px;
    color: #00000033;
    text-decoration: none;
}
.nav-item{
    padding: 15px;
    width: 125px;
    text-align: center;
    text-decoration: none;
}
.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}
.navbar-brand{
    color: rgb(251, 206, 60);
    font-size: 28px;
    font-weight: 700;
    width: 200px;
    margin: 0 auto;
    padding:0 0 0 30px;
    transition-duration: 0.15s;
}
.navbar-brand:hover{
    color: rgb(251, 206, 61);
    font-size: 28px;
    letter-spacing: 3px;
    transition-duration: 0.15s;
    text-decoration: none;
}
.index-page-logo{
    height: 55px;
    width: 40px;
    margin-left: 100px;
    transition-duration: 1s;
}
.index-page-logo:hover{
    height: 85px;
    width: 60px;
    margin-left: 90px;
    transition-duration: 0.4s;
}
nav {
    height: 90px;
    background-color: rgb(0, 0, 0);
}
.navbar-nav > a {
    text-decoration: none;
}
.navbar-nav>li>a {
    color: rgb(251, 206, 61);
    font-weight: 700;
    text-align: center;
    width: 125px;
    text-decoration: none;
}
.navbar-nav{
    margin: 15px;
}
.navbar-toggler-icon{
    color: white;
}
.home-link{
    color: rgb(251, 206, 61);
}
.bg-dark{
    background-color: black!important
}
.expanded-nav{
    margin: auto;
    padding-right: auto;
    background-color: black;
}
.navbar-dark .navbar-toggler {
    margin: 0 20px;
    color: rgba(255, 255, 255);
    border-color: rgba(255,255,255);
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
/* --------- From W3 Schools https://www.w3schools.com/howto/howto_css_dropdown.asp ------------
/* Dropdown Button */
.dropbtn {
  background-color: inherit;
  color: rgb(251, 206, 61);
  font-weight: 700;
  padding: 15px;
  font-size: inherit;
  border: none;
  text-decoration: none;
}
.dropbtn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 125px;
}
.dropbtn {
    width: 125px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(251, 206, 61);
    padding: 12px 0px 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.3);
}

/* -------------- Modal ---------------------- */
.modal-header{
    padding: 20px 10px 0;
}
.modal-body{
    padding: 15px 20px 15px 15px;
}
.btn-modal{
    margin: 15px;
}