/*body {
    background-color: rgba(0, 0, 0, 0.418);
}*/
/* --------- Navigation bar --------------- */
.fixed-top {
    border-radius: 0px;
}
.navbar {
    margin-bottom: 0px;
    background-image: none;
    border-bottom: none;    
}
.nav-item{
    padding: 15px;
    width: 125px;
    text-align: center;
}
.nav-item:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.nav-item > a{
    text-decoration: none;
    text-align: center;

}
.navbar-brand{
    color: rgb(251, 206, 60);
    font-size: 24px;
    font-weight: 700;
    transition-duration: 0.25s;
}
.navbar-brand:hover{
    color: rgb(251, 206, 61);
    font-size: 28px;
    letter-spacing: 3px;
    transition-duration: 0.25s;
}
nav {
    height: 50px;
    
}
ul > li > a {
    text-align: center;
    width: 125px;
    text-decoration: none;
    
}

.navbar {
    background-color: rgba(0, 0, 0);
    color: black;    
}
.navbar-nav>li>a {
    color: rgb(251, 206, 61);
    font-weight: 700;
}

/* --------- From W3 Schools https://www.w3schools.com/howto/howto_css_dropdown.asp ------------
/* Dropdown Button */
.dropbtn {
  background-color: inherit;
  color: rgb(251, 206, 61);
  font-weight: 700;
  padding: 15px;
  font-size: inherit;
  border: none;
}
.dropbtn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 125px;
}
.dropbtn {
    width: 125px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(251, 206, 61);
    padding: 12px 0px 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.3);
}