/* --------------- Shopping cart ------------ */
.cart-page-empty{
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
    padding: 200px 15px;
}
.cart-empty{
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    text-align: center;
    max-width: 750px;
    margin: auto;
}
.cart-empty > h3{
    margin-top: 40px;
}
.cart-page{
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
    padding: 100px 15px;
}
.cart-product-list{
    max-width: 1000px;
    margin: auto;
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
}
.cart-product-img{
    height: 80px;
    width: 100%;
    max-width: 200px;
    min-width: 100px;
}
.cart-item-name{
    color: black;
}
a:hover {
    text-decoration: none;
}
.cart-item-name, .cart-item-price, .cart-item-edit{
    padding-top: 20px;
    font-weight: 500;
}
.cart-item-price{
    padding-top: 23px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 12px;
}
.btn-danger{
    width: 250px;
    padding: 5px;
    font-size: 27px;
    margin: 10px;
}
.hr-cart{
    margin: 10px 0px;
}
/* ------------ Checkout ------------------ */
.total-cart-checkout{
    padding: 20px 0 20px;
}
.total-cart-checkout-sum{
    margin: 0 15px;
    padding: 8px 15px;
    background-color: white;
    font-size: 25px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 500;
    letter-spacing: 1px;
}
.checkout-page{
    padding: 100px 15px;
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
}
.checkout-section{
    margin: 60px auto 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px 10px 5px;
    background-color: rgba(255, 255, 255, 0.95);
    max-width: 800px;
}
.checkout-order{
    width: 90%;
    margin: auto;
}

/* --------------------- Media queries -------------------- */
@media only screen and (max-width: 769px) {
    .cart-item-edit{
        padding: 0px;
    }
}
@media only screen and (max-width: 576px) {
    .cart-product-img{
        width: 125px;
    }
}




