/* --------------- Shopping cart ------------ */
.cart-page{
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
    padding: 100px 60px;
}
.cart-page-empty{
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
    padding: 200px 15%;
}
.cart-empty{
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    text-align: center;
}
.cart-empty > h3{
    margin-top: 40px;
}
.cart-product-list{
    max-width: 1000px;
    margin: auto;
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}
.cart-product-img{
    height: 70px;
    width: 150px;
}
.cart-item-name{
    color: black;
}
a:hover {
    text-decoration: none;
}
.cart-item-name, .cart-item-price, .cart-item-edit{
    padding-top: 20px;
}
.cart-item-price{
    padding-top: 23px;
    font-size: 22px;
    font-weight: 500;
}
.btn-danger{
    width: 300px;
    padding: 5px;
    font-size: 35px;
    margin: 10px;
}
/* ------------ Checkout ------------------ */
.total-cart-checkout{
    padding: 50px 0 20px;

}
.total-cart-checkout-sum{
    margin: 0 15px;
    padding: 8px 15px;
    background-color: white;
    font-size: 22px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.checkout-page{
    padding: 100px 60px;
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
}
.checkout-section{
    margin: 30px auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px 20px 5px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 800px;
}
.checkout-order{
    width: 75%;
    margin: auto;
}