/* ----------------- Index page ------------- */
.home-page{
    background: url("../images/picard-vine.jpg") no-repeat center top fixed ;
    padding: 100px 20px 100px;
    min-height: 90vh
}
.landing-image{
    max-width: 600px;
    margin: auto;
}
.lead{
    background-color: black;
    color: rgb(251, 206, 61);
    text-align: center;
    font-size: 35px;
    margin-bottom: 100px;
}
.index-image{
    width: 100%;
    height: 120px;
}