/* --------------- Password reset page ---------------- */
.password-reset-page{
    padding: 200px 15px;
    background: url("../images/forum.jpg") no-repeat center top fixed ;
}
.password-reset-form{
    max-width: 600px;
    margin: auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.password-reset-email-input{
    font-size: 18px;
    font-weight: 500;
}
.form-password-reset{
    margin: 40px 0;
}
.btn-password-reset{
    margin: 40px 0 0;
}
/* ------------ Password reset done --------- */
.password-reset-done-form{
    max-width: 600px;
    margin: auto;
    padding: 45px 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
/* ------------ Password reset complete --------- */
.password-reset-complete{
    max-width: 600px;
    margin: auto;
    padding: 45px 60px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}