/* ------------- Products page ----------------*/
.products-page{
    padding: 30px 20px;
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
}
.products-page-list{
    margin: auto;
}
.products-search{
    padding: 7px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.products-search-input{
    height:39px;
    border-radius: 10px;    
}
.no-search-products{
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    border-radius: 5px;
    margin: 100px auto;
    width: 600px;
    text-align: center;
}
.no-search-products-text{
    padding: 75px 30px;
}
.products-card-padding{
    padding: 5px;
}
.products-card{
    max-width: 350px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.products-card-body{
    padding: 10px 15px;

}
.products-card-img{
    height: 225px;
}
.products-name{
    color: black;
}
.products-card-price{
    margin: 0px;
    padding: 7px 2px 7px 8px;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}
.btn-products{
    height: 45px;
    margin: 0 5px;
    background-color: rgba(251, 207, 61, 0.75);
}
.btn-products:hover{
    background-color: rgba(251, 207, 61);
}
.btn-products-filter{
    color: black;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width:120px;
    margin: 5px;
    transition-duration: 0.5s
}
.btn-products-filter:hover{
    color: black;
    background-color: rgba(251, 207, 61);
    transition-duration: 0.5s
}
/* ------------- Product detail page ----------- */
.product-detail-page{
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
    padding: 30px 10px 75px;
}
.product-detail-card{
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}
.product-detail-card-body{
    padding: 25px 7.5%;
    border-radius: 10px;
}
.product-detail-image{
    height: 300px;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-detail-card-price{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}
.product-detail-add-input{
    margin: auto;
    width: 125px;
}
.clothes-choices{
    margin: 0px auto 15px;
    border-radius: 5px;
    font-size: 17px;
    padding: 5px;
    width: 100px;
}

/* ------------ Media queries ------------------- */
@media only screen and (max-width: 575px) {
    .btn-products-filter{
        width: 100%;
        margin: 5px;
    }
}
