html {
    scroll-behavior: smooth;
}
.no-padding{
    padding: 0px;
}
.no-padding-right{
    padding-right: 0px!important;
}
.no-padding-left{
    padding-left: 0px!important;
}
.no-margin{
    margin: 0px!important;
}
.padding-bottom{
    padding-bottom: 15px;
}
.margin-5{
    margin: 5px;
}
.margin-10{
    margin: 10px;
}
.decoration-none{
    text-decoration: none;
}
.control-label{
    font-size: 18px;
    font-weight: 500;
}
.form-control{
    height: 45px;
}
body {
    font-family: Arial;
    background-color: rgba(0, 0, 0, 0.3);
}
.icon-bar {
    background-color: #fff;
}
.accountform {
    padding-top: 20px;
}
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/* ------------ Star trek btn --------------- */
.btn-star-trek{
    margin: 0 5px;
    background-color: rgba(251, 207, 61, 0.75);
}
.btn-star-trek:hover{
    background-color: rgba(251, 207, 61);
}
/* -------------- Pagination ----------- */
.pagination{
    background-color: white;
    margin: 30px 0px 30px;
}
.current{
    padding: 10px 10px;
}
/* ------------ Footer ------------------ */
footer {
    padding-top: 20px;
    border-top: 1px solid #ededed;
    background-color: black;

}
.footer-three-columns{
    color: rgb(251, 206, 60);
}
.footer-three-columns > div > div{
    padding: 5px;
}
.footer-three-columns > div > div > a{
    color: rgb(251, 206, 60);
    padding: 3px 5px;
}
.footer-three-columns > div > div > a:hover{
    border-radius: 3px;
    padding: 3px 5px;
    color: white;
}
.footer-middle-column{
    padding: 15px 0px 0px;
}
.fa-2x{
    margin: 5px;
    color: rgb(251, 206, 60);
}
.fa-2x:hover{
    color: white;
    cursor: pointer; 
}
.footer-last-row{
    margin: 35px 0px 0px;
    color: white;
}
/* ------------ Color gray ---------- */
.color-gray{
    background-color: gray;
}
/* -------------- For tablet screen ------------- */
.mobile-screen{
    display: none;
}
/* ------ Media queries ----------- */
@media only screen and (max-width: 600px) {
    .tablet-screen{
        display: none;
    }
    .mobile-screen{
        display: inline;
    }
}