.no-padding{
    padding: 0px;
}
.no-margin{
    margin: 0px;
}
.padding-bottom{
    padding-bottom: 15px;
}
.margin-5{
    margin: 5px;
}

.decoration-none{
    text-decoration: none;
}
.control-label{
    font-size: 18px;
    font-weight: 500;
}
.form-control{
    height: 45px;
}
body {
    font-family: Arial;
    background-color: rgba(0, 0, 0, 0.3);
}
.icon-bar {
    background-color: #fff;
}
.accountform {
    padding-top: 20px;
}
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
/* -------------- Pagination ----------- */
.pagination{
    background-color: white;
    padding: 5px 10px;
    margin: 30px 0px 30px;
}
/* ------------ Footer ------------------ */
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    background-color: black;
    height: 200px;
}