.no-padding{
    padding: 0px;
}
.no-margin{
    margin: 0px;
}
.padding-bottom{
    padding-bottom: 15px;
}
.margin-5{
    margin: 5px;
}
.decoration-none{
    text-decoration: none;
}
body {
    font-family: Arial;
    /*background: url("../images/background.jpg") no-repeat center center fixed;*/
    background-color: rgba(0, 0, 0, 0.3);
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    background-color: black;
    height: 200px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}





.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}
/* ------------ Login page --------------- */
.login-page{
    padding: 110px 25%;
    background: url("../images/forum.jpg") no-repeat center top fixed ;
}
.login-section{
    padding: 30px 60px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form-login{
    margin: 40px 0;
}
/* ---------- Registration page ---------------- */

/* -------------- Profile page ------------------- */
.profile-page{
    background-color: rgba(0, 0, 0, 0.185);
    
}
.profile-info{
    max-width: 800px;
    margin: 100px auto;
    padding: 20px 0;
    border: 1px solid black;
}
.profile-img{
    margin-top: 15px;
    border:1px solid black;
    width: 250px;
    height: 250px;
}

/* ---------- Edit profile ------------------------*/
.profile-form-edit{
    max-width: 800px;
    margin: 40px auto;
    background-color: rgba(0, 0, 255, 0.363)
}

/* ------------ Registration page ----------------- */
.registration-page{
    padding: 110px 25%;
    background: url("../images/forum.jpg") no-repeat center top fixed ;
}
.register-form{
    padding: 30px 60px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form-registration{
    margin: 40px 0;
}
/* --------------- Password reset page ---------------- */
.password-reset-page{
    padding: 200px 25%;
    background: url("../images/forum.jpg") no-repeat center top fixed ;
}
.password-reset-form{
    padding: 30px 60px 0;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.password-reset-email-input{
    font-size: 18px;
    font-weight: 500;
}
.form-password-reset{
    margin: 40px 0;
}
.btn-password-reset{
    margin: 40px 0 0;
}
/* ------------ Password reset done --------- */
.password-reset-done-form{
    padding: 45px 40px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
/* ------------ Password reset complete --------- */
.password-reset-complete{
    padding: 45px 60px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
/* ------------ News page ------------------*/
.news-page{
    padding: 30px 0 30px;
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
}
.news-image{
    width:100%;
    height: 225px;
}
.news-row{
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 60px 0 80px;
}
.news-info{
    padding: 10px 25px 0px;
}
.news-row>div>h2>a{
    color: black;
    text-decoration: none;
}
.btn-star-trek{
    background-color: rgba(251, 207, 61, 0.75);
}
.btn-star-trek:hover{
    background-color: rgba(251, 207, 61);
}

/* ------------- News detail page ---------------*/
.news-detail-page{
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
    padding: 50px 20% 80px;
}
.news-detail-info{
    background-color: rgba(255, 255, 255, 0.85);
}
.news-detail-image{
    height: 400px;
    width:100%;
}
.news-detail-title{
    color: black;
    font-weight: 500;
    margin: 35px 20px 10px;
}
.news-detail-content{
    padding: 10px 45px 20px;
    color: black;
}
.news-detail-details{
    padding-left: 20px;
    color: black;
    font-weight: 550;
}
/* ----------------- Home page ------------- */
.home-page{
    background: url("../images/STDS9.jpg") no-repeat center top fixed ;
    padding: 200px 15% 0px;
    height: 90vh;
}
.lead{
    margin: 0px 10%;
    background-color: black;
    color: rgb(251, 206, 61);
    text-align: center;
    font-size: 35px;
}
.jumbo-text{
    padding: 0px 10%;
    width: 100%;
    height: 120px;
}
/* -------------- Games page ------------ */
.games-page{
    padding:75px 10%;
    background: url("../images/games-back.jpg") no-repeat center center fixed;
}
.games-header>h1{
    color: rgb(251, 206, 61);    
    padding: 30px;
    text-align: center;
}
.games-image{
    width: 100%;
    height: 300px;
}
.card{
    background-color: rgba(255, 255, 255, 0.65);
}
/* ----------- Games detail page ------------- */
.games-detail-page{
    padding: 50px 20% 80px;
    background: url("../images/games-back.jpg") no-repeat center center fixed;
}
.games-detail-image{
    height: 400px;
    width:100%;
}
.games-detail-info{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px 45px;
}
/* ------------- Products page ----------------*/
.products-page{
    padding: 30px 60px;
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
}
.products-search{
    padding: 7px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.products-search-input{
    height:39px;
    border-radius: 10px;    
}
.products-card{
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.products-card-body{
    padding: 10px 15px;
}
.products-card-img{
    height: 200px;
}
.products-card-price{
    margin: 0px;
    padding: 8px;
    font-weight: 700;
    text-align: center;
}
/* ------------- Product detail page ----------- */
.product-detail-page{
    background: url("../images/picard-vine.jpg") no-repeat center center fixed;
    padding: 75px 25%;
}
.product-detail-card-img{
    height: 350px;
}

/* --------------- Forum -------------- */
.forum-page{
    padding: 30px 0px 0px;
    background: url("../images/landing-image.jpg") no-repeat center center fixed;
}
.btn-post-thread{
    margin: 20px 0 0;
}
.forum-threads{
    background-color: rgba(255, 255, 255, 0.95);
    margin: 60px auto 40px;
    padding: 0px 10px;
}
.forum-filters{
    background-color:rgb(251, 206, 60);
    border: 2px solid rgba(0, 0, 0);
}
.forum-filters > div > a >h4:hover{
    color: white;
}
.forum-thread > div {
    padding-top: 5px;
}
.forum-thread > div > a {
    text-decoration: none;
    color:black;
}
.forum-thread > div > h5 > a{
    text-decoration: none;
}
.forum-post-user-image{
    width: 100%;
    height: 30px;
}
.forum-hr{
    margin: 1px 0px;
}
/* ----------- Forum thread -------------- */
.forum-thread-page{
    background: url("../images/landing-image.jpg") no-repeat center center fixed;
    padding: 100px 10%;
}
.thread-container{
    padding: 10px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.8);
}
.forum-thread-user-image{
    height: 75px;
    width: 150px;
}
.thread-hr{
    margin: 10px 0;
}
.thread-comment{
    padding: 15px 10px
}
.btn-back-to-forum{
    margin: 30px 0 0;
}
/* ---------------- Post thread form -------------- */
.post-thread-form{
    background: url("../images/landing-image.jpg") no-repeat center center fixed;
    padding: 100px 10%;
}
.thread-form-section{
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px 25px 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
/* ----------- Comment form -------------------- */
.comment-form-page{
    background: url("../images/landing-image.jpg") no-repeat center center fixed;
    padding: 100px 20%;
}
.comment-form-section{
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px 25px 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
/* ------------ Cart - Checkut ------------------ */
.total-cart-checkout{
    padding: 50px 0 20px;

}
.total-cart-checkout-sum{
    margin: 0 15px;
    padding: 8px 15px;
    background-color: white;
}
.checkout-section{
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px 25px 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
/* -------------- Pagination ----------- */
.pagination{
    background-color: white;
    padding: 5px 10px;
    margin: 30px 0px 30px;
}