{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<div class="checkout-page">
<div class="cart-product-list">
    <hr>
	{% for item in cart_items %}
    <div class="row">
        <div class="col-2">
            <a href="{% url 'product_detail' item.product.id %}">
            <img class="card-img-top cart-product-img" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="Card image cap">
            </a>
        </div>
            <div class="col-4">
                <a href="{% url 'product_detail' item.product.id %}">
                <h3 class="card-title text-center cart-item-name">{{ item.product.name }}</h3>
                </a>
            </div>
            <div class="col-3">
                <p class="products-card-price cart-item-price">{{ item.product.price }} €</p>
            </div>
            <div class="col-3">            
                <div class="d-flex justify-content-center cart-item-edit">                
                <form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
						{% csrf_token %}
						<div class="form-group">
							<label for="exampleInputAmount" class="sr-only">New Qty</label>
							<div class="input-group">								
								<input type="number" name="quantity" min="0" max="999" value="{{ item.quantity }}" class="form-control">
							</div>
						</div>
						<button type="submit" class="btn btn-star-trek"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
					</form>
                    </div>
                    </div>
                    </div>
            <hr>

	
    {% endfor %}
    
</div>
<div class="row d-flex justify-content-center total-cart-checkout">
    <p class="total-cart-checkout-sum text-center">Total <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }} €</p>
</div>
<hr>
<div class="checkout-section">
<form class="text-center" role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend><h3>Payment Details</h3></legend>

    <div id="credit-card-errors" style="display: none;">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="row checkout-order">
    <div class="form-group col-md-6 ">
        {{ order_form | as_bootstrap }}
    </div>
    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }}
    </div>
    </div>
    {% csrf_token %}
    <div class="row d-flex justify-content-center total-cart-checkout">
    <p class="total-cart-checkout-sum">Total <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }} €</p>
    </div>
    <input class=" btn btn-danger" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">

</form>
</div>
</div>
{% endblock %}