{% extends 'base.html' %}
{% block content %}
<div class="profile-page">
	<div class="message-info-section">
		<div>
			<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
				<li class="inbox-nav">
					<a class="nav-link active text-center" id="Received-tab" href="{% url 'inbox' %}">Inbox</a>
				</li>
				<li class="inbox-nav">
					<a class="nav-link text-center" id="Sent-tab" href="{% url 'outbox' %}">Outbox</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="Received" role="tabpanel" aria-labelledby="Received-tab">
					<!----------------------------------- Checks if user has messages and shows them -------------------------------------->
					{% if inbox.count == 0 %}
					<div class="empty-outbox">
						<h1>No messages in your inbox! </h1>
						<br>
						<h3> Go to <a href="{% url 'get_posts' %}"
								class="btn btn-star-trek"><i class="fas fa-hand-spock"></i> Forum</a></h3>
					</div>
					{% else %}
					<div class="row message-main-row">
						<div class="col-5 col-sm-3 text-center"><span>Sender</span></div>
						<div class="col-7 col-sm-5"><span>Title</span></div>
						<div class="d-none d-sm-block col-sm-4 no-padding"><span>Date</span></div>
					</div>
					<hr class="inbox-hr">
					{% for msg in inbox %}
					<div class="row {% cycle 'color-gray' 'color-white' %} message-short-info">
						<div class="col-5 col-sm-3 text-center"><a href="{% url 'profile' msg.sender_id %}"
								target="_blank"
								rel="noopener"><span class="tablet-screen inbox-message-author">{{ msg.sender }}</span><span class="mobile-screen inbox-message-author">{{ msg.sender|truncatechars:9}} </span></a>
						</div>
						<div class="col-7 col-sm-5"><a
								href="{% url 'message_detail' msg.id %}">{{ msg.title|truncatechars:20 }}</a></div>
						<div class="d-none d-sm-block col-sm-4 no-padding">{{ msg.created_date}}</div>
					</div>
					<hr class="inbox-hr">
					{% endfor %}
					{% endif %}
					<!----------------------------------------------------------------------------------------------------------------------->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}