{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

<div class="message-page">
	<div class="message-info-section">
    <h1 class="text-center">Start a conversation!</h1>
    {{ request.user}}
    {{ profile.user }}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="d-flex justify-content-center margin-5">
        <button type="submit" class="btn btn-star-trek">Send message! <i class="fas fa-reply"></i></button>
        <a href="{% url 'inbox' %}" class="btn btn-primary"> Back to messages <i class="fas fa-comments"></i></a>
        </div>
    </form>
    </div>
</div>
{% endblock %}