{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}

{% if user.orders.all.count == 0 %}
<div class="order-page-empty">
	<div class="order-info-section text-center">
		<h1>You do not have any orders!</h1>
		<hr>
		<h3>Visit our <a href="{% url 'products' %}" class="btn btn-star-trek"><i class="fas fa-store-alt"></i> Shop</a>
		</h3>
	</div>
</div>
{% else %}
<div class="order-page">
	<div class="order-info-section">
		<h1 class="text-center">My orders</h1>
		<hr>
		<div id="accordion">
			{% for order in orders %}
			{% if order.user == user %}
			<div class="card">
				<button class="btn" data-toggle="collapse" data-target="#collapse{{ order.id }}" aria-expanded="false" aria-controls="collapse{{ order.id }}">
				<div class="card-header order-card-header text-center" id="heading{{ order.id}}">
                    <h3 class="mb-0 order-date-margin">{{ order.date }}</h3>
                </div>
            </button>
				<div id="collapse{{ order.id }}" class="collapse" aria-labelledby="heading{{ order.id }}"
					data-parent="#accordion">
					<div class="card-body order-card-body">
						<table class="text-center">
							<tr class="text-center">
								<th class="text-center">Product</th>
								<th class="text-center">Per unit</th>
								<th class="text-center">Quantity</th>
								<th class="text-center">Price</th>
							</tr>
							{% for line in order.orderline.all %}
							<tr class="text-center">
								<th class="text-center"><a href="{% url 'product_detail' line.product.id %}">
										{{ line.product.name }}</a></th>
								<th class="text-center">{{ line.product.price }} €</th>
								<th class="text-center">{{ line.quantity }}</th>
								<th class="text-center">{{ line.line_total }} €</th>
							</tr>
							{% endfor %}
						</table>
					</div>
					<h4 class="total-order-price text-center">Total order: {{ order.total_price }} €</h4>
				</div>
			</div>
			<hr>
			{% endif %}
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}