{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}

<div class="profile-page">
	<div class="profile-info-section">
    <hr>
		<div class="row">
			<div class="offset-1 col-4">
				<img class="profile-img" src="{{ MEDIA_URL }}{{ profile.uprofile.image }}">
            </div>
				<div class="col-7 profile-info text-center">
					<h1>{{ profile.uprofile.name }}</h1>
					<h3><i class="fa fa-user"></i> {{ profile.username }}</h3>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="offset-1 col-10">
					<h3>About myself</h3>
					<p>{{ profile.uprofile.bio }}</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="offset-1 col-10">
					<h3>My Favourites</h3>
					<div class="row">
						<div class="col-3 text-right">
							<h5>Series</h5>
						</div>
						<div class="col-8">
							<p>{{ profile.uprofile.favourite_series }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-3 text-right">
							<h5>Character</h5>
						</div>
						<div class="col-8">
							<p>{{ profile.uprofile.favourite_character }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-3 text-right">
							<h5>Quote</h5>
						</div>
						<div class="col-8">
							<p>{{ profile.uprofile.favourite_quote }}</p>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="offset-1 col-10">
					<h3>Cosplay</h3>
					<p>{{ profile.uprofile.cosplay_input }}</p>
					<div class="row">
						<div class="col-6">
							<img class="cosplay-img" src="{{ MEDIA_URL }}{{ profile.uprofile.cosplay_image1 }}">
					</div>
							<div class="col-6">
								<img class="cosplay-img" src="{{ MEDIA_URL }}{{ profile.uprofile.cosplay_image2 }}">
					</div>
							</div>
						</div>
					</div>
                    <hr>
					{% if profile.username == user.username %}
					<div class=" d-flex justify-content-end">
						<a href="{% url 'edit_profile' profile.id %}" class="btn btn-info">Edit Profile</a>
					</div>
					{% endif %}
				</div>
			</div>

			{% endblock %}