{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}
<div class="container-fluid profile-page">
<div class="row profile-info">
            <div class="col-md-4 col-sm-3">
               <img class="profile-img" src="{{ MEDIA_URL }}{{ profile.uprofile.image }}">
            </div>
            <div class="col-md-8 col-sm-9">
            <h3>{{ profile.username }}</h3>
                <h1>{{ profile.uprofile.name }}</h1>
                <p>{{ profile.uprofile.bio }}</p>
            </div>
            {% if profile.username == user.username %}
<div class="text-right">
<a href="{% url 'edit_profile' profile.pk %}" class="btn btn-default">Edit Profile</a>
</div>
{% endif %}
        </div>

</div>

{% endblock %}