{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}Registration Page{% endblock %}
{% block page_heading %}User Registration{% endblock %}
{% block content %}
<div class="registration-page">
	<div class="register-form">
		<h1 class="text-center">- Join our community! -</h1>
		<form method="POST" class="form-registration">
			{% csrf_token %}
			{{ registration_form | as_bootstrap }}
			<div class="row d-flex justify-content-center">
				<button type="submit" class="btn btn-star-trek">Registration</button>
			</div>
		</form>
		<hr>
		<h5>If you already have account, you can <a href="{% url 'login' %}">sign in</a></h5>
	</div>
</div>
{% endblock %}