{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Star Trek</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/41a908fb89.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <!-- Fixed masthead -->
    <nav>
    <div class="navbar navbar-expand fixed-top">
        <div class="container">
            <div class="text-center">
                <a class="navbar-brand" href="{% url 'index' %}">Star Trek</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse d-flex justify-content-end">
                <ul class="navbar-nav">                    
                        <li>
                            <div class="dropdown">
                                <a href="{% url 'get_news' %}"><button class="dropbtn"><i class="far fa-newspaper"></i> News</button></a>
                                <div class="dropdown-content">
                                    <a href="{% url 'get_news_news' %}"><i class="fa fa-user-plus"></i> News</a>
                                    <a href="{% url 'get_news_updates' %}"><i class="fa fa-sign-in"></i> Updates</a>
                                    <a href="{% url 'get_news_federation' %}"><i class="fas fa-globe"></i> FNN</a>
                                </div>
                            </div>
                        </li>
                        <a href="{% url 'products' %} "><li class="nav-item"><i class="fas fa-store-alt"></i> Shop</li></a>
                        <a href="{% url 'games' %}"><li class="nav-item"><i class="fas fa-gamepad"></i> Games</li></a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'get_posts' %}"><li class="nav-item"><i class="fas fa-hand-spock"></i> Forum</li></a>
                        {% else %}
                        <a href="{% url 'registration' %}"><li class="nav-item"><i class="fas fa-users"></i> Forum</li></a>
                        {% endif %}
                            <a href="{% url 'view_cart' %}"><li class="nav-item">
                                <i class="fas fa-shopping-cart"></i> Cart
                                {% if product_count > 0 %}
                                <label class="badge badge-warning">{{ product_count }}</label>
                                {% endif %}
                                </li>
                            </a>
                        
                    {% if user.is_authenticated %}
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn"><i class="fas fa-portrait"></i> Account</button>
                                <div class="dropdown-content">
                                    <a href="{% url 'profile' user.id %}"><i class="fa fa-user"></i> Profile</a>
                                    <a href="{% url 'orders' %}"><i class="fas fa-shopping-basket"></i> Orders</a>
                                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a>
                                </div>
                            </div>
                        </li>                        
                    {%  else %}
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn"><i class="fas fa-portrait"></i> Sign in</button>
                                <div class="dropdown-content">
                                    <a href="{% url 'registration' %}"><i class="fa fa-user-plus"></i> Register</a>
                                    <a href="{% url 'login' %}"><i class="fa fa-sign-in-alt"></i> Log In</a>
                                </div>
                            </div>
                        </li>
                        
                    {% endif %}                     
                </ul>
            </div>
        </div>
        </div>
    </nav>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
        {% block content %} {% endblock %}
    <footer>
        <div class="container">
            <p>Made by Roman Grubic</p>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>