{% extends "base.html" %}
{% block content %}
<div class="news-detail-page">
    <div class="row news-detail-info">
        <div class="col-12 no-padding">
            {% if news.image %}
                <img class="news-detail-image" src="{{ MEDIA_URL }}{{ news.image }}">
            {% endif %}
            <h1 class="text-center news-detail-title">{{ news.title }}</h1>
        </div>
                <div class="col-12">
                    <hr>
                    <p class="news-detail-content">{{ news.content }}</p>
                    <hr>
                    <div class="news-detail-details">
                        <p><span class="boldtext">Published on:</span> {{ news.published_date }}</p>
                        <p>Author: {{ news.author}}</p>
                        <p><span class="boldtext">Views:</span> {{news.views}}</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center padding-bottom">
                        <a href="{% url 'get_news' %}" class="btn btn-star-trek">Back to News</a>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}