{% extends "base.html" %}
{% block content %}
<div class="news-detail-page">
    <div class="row news-detail-info">
        <div class="col-12 no-padding">
            {% if news.image %}
                <img class="news-detail-image" src="{{ MEDIA_URL }}{{ news.image }}">
            {% endif %}
            <h3>{{ news.title }}</h3>
        </div>
                <div class="col-12">
                    <p>{{ news.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ news.published_date }}</p>
                    <p>Author: {{ news.author}}</p>
                    <p><span class="boldtext">Views:</span> {{news.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ news.tag }}</p>
                    <a href="{% url 'get_news' %}" class="btn btn-default">Back to News</a>
                    <a href="{% url 'edit_news' news.id %}" class="btn btn-default">Edit News</a>
                    <hr>
                </div>
            </div>
        </div>


{% endblock %}