{% extends 'base.html' %}
{% block content %}
<div class="news-page">

    {% for new in news %}
    <hr>
        <div class="row news-row">
            <div class="col-12 col-md-4 no-padding">
            <a href="{% url 'news_detail' new.id %}" >
               <img class="news-image" src="{{ MEDIA_URL }}{{ new.image }}">
            </a>
            </div>
            <div class="col-12 col-md-8 news-info">
                <h2><a href="{% url 'news_detail' new.id %}" class="news-page-title-1">{{ new.title|truncatechars:29 }}</a></h2>
                <h2><a href="{% url 'news_detail' new.id %}" class="news-page-title-2">{{ new.title|truncatechars:22 }}</a></h2>
                <p class="news-page-title-1">{{ new.content|truncatechars:150 }}</p>
                <p class="news-page-title-2">{{ new.content|truncatechars:120 }}</p>
                <div class="d-flex justify-content-end">
                <p class="no-margin news-page-details"><span class="boldtext">{{ new.published_date }} - <span class="boldtext">Views:</span> {{new.views}}</p>           
                    <p><a href="{% url 'news_detail' new.id %}"  class="btn btn-star-trek">Read more</a></p>
                </div>
                </div>
            <hr>
        </div>
    {% endfor %}
    <div class="d-flex justify-content-center product-back-to-top">
		<a href="#top" class="btn btn-info btn-back-to-forum">Back to top!</a>
	</div>
    <hr>
    <div class="d-flex justify-content-center">
        <div class="pagination">
            <span class="step-links">
                {% if news.has_previous %}
                    <a href="?page={{ news.previous_page_number }}" class="btn btn-star-trek no-margin">Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ news.number }} of {{ news.paginator.num_pages }}
                </span>
                {% if news.has_next %}
                    <a href="?page={{ news.next_page_number }}" class="btn btn-star-trek no-margin">Next</a>
                {% endif %}
            </span>
        </div>
    </div>
    <hr>
</div>
{% endblock %}